.App {
  text-align: center;
  border: 2px solid brown;
}
.Bpp {
  text-align: center;
  background-color: rgb(184, 188, 91);
  /* border-radius: 20px; */
  border: 1px solid red;
  padding: 100px;
}
.app {
  text-align: center;
  background-color: rgb(225, 167, 30);
  /* border-radius: 20px; */
  border: 5px solid rgb(129, 164, 136);
}
.apnaUser{
  margin-top: 20px;
  text-align: center;
  border: 3px solid blue;
}
.hello{
  display: flex;
  align-items:center ;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.list{
  border: 1px solid red;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  list-style-type: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.activeitem{
  color: red;
  border-color: blue;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.typing{
width: 20rem;
text-wrap: nowrap;
overflow: hidden;
  animation: welcome 5s infinite linear ;
}

@keyframes welcome {
  from{
    width: 1rem;
  }to{
    width: 20rem;
  }
}
